<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZG-ME2sFQJT2Tpy5G0XuNyoiecsbOl4E</string>
	<key>GCM_SENDER_ID</key>
	<string>214436748964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weekendproject2</string>
	<key>PROJECT_ID</key>
	<string>weekend3project</string>
	<key>STORAGE_BUCKET</key>
	<string>weekend3project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214436748964:ios:de40d1d6733df5cd129031</string>
</dict>
</plist>